@model IEnumerable<ResortManagerSoftware.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Are)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoubleS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerciceMaxPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionOtherConvenience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoolArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ren_Type.RenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service_type.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Are)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoubleS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerciceMaxPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionOtherConvenience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoolArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ren_Type.RenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service_type.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceId })
        </td>
    </tr>
}

</table>
